body {
    color: #777777;
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-image: url("../images/subtle_white_feathers.png");
    margin: auto;
}
/*Content class used to contain within 960px */
.content {
    width: 960px;
    margin: auto;
    overflow: hidden;
}
/* Header styles */
header {
    width: 100%;
    background-color:#ffffff;
    border-bottom: .2em solid #cccccc;
}

h1{
    font-size: 2em;
    font-weight:bold;
}

header h1 {
    float: left;
    margin: 0;
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
}
/* Nav Bar styles */
nav {
    float: right;
    text-align: center;
    height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 31.5px 0px;
}

nav li {
    float: left;
    margin: 10px;
    padding-right: 20px;
    border-right: 1px solid #cccccc;
}
/* Stops border for the last item on the Nav Bar */
nav ul :last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

li a:hover {
    color: #4aaaa5;
}
/* Styles for general main content on all three pages */
.main-content {
    margin: 40px auto;
    border: 1px solid #dddddd;
    border-radius: 25px;
    background: #ffffff;
    clear: both;
}

.main-content h1 {
    color: #4aaaa5;
    margin: 30px;
    padding: 5px 0px 30px 0px;
    border-bottom: 3px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-content p {
    margin: 0px 30px 30px;
    line-height: 200%;
}
/* Profile pic styles */
.profile-pic {
    float: left;
    margin: 0px 30px 30px 30px;
    width: 250px;
    height: auto;
}
/* Contact Page styles */
form {
    margin: 20px;
    padding: 10px 40px 10px 10px;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border: 1px solid #dddddd;
    font-size: 15px;
}

.message {
    height: 150px;
    resize: none;
}

.submit {
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 15px;
    border: 1px solid #4aaaa5;
    border-radius: 25px;
}

.submit:hover {
    background-color: #ffffff;
    color: #4aaaa5;
}
/* Portfolio gallery styles */
.gallery {
    overflow: hidden;
}

.images {
    float: left;
    position: relative;
    margin: 30px;
    overflow: hidden;
}

.images:hover {
    opacity: 0.5;
}

.images h4 {
    position: absolute;
    bottom: 15px;
    width: 100%;
    margin: 0;
    padding: 20px 0px;
    background: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    text-align: center;   
}
/* Footer style */
footer {
    display: block;
    background-color: #666666;
    text-align: center;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    padding-top: 40px;
}

@media only screen and (max-width: 980px) {
    .content {
        margin: 0 4em;
        width: 90%;
    }
    .main-content {
        margin: 2.5em 4em;
        width: 60%;
    }
    .images {
        margin-left: 2em;
        margin-right: 0;
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        margin: 0 1.5em;
        width: 95%;
    }
    .main-content {
        margin: 1.5em;
        margin-top: 2em;
        width: 95%;
    }

}

@media only screen and (max-width: 640px) {
    .content {
        margin: 0;
        width: 100%;
    }
    header h1 {
        box-sizing: border-box;
        float: none;
        width: 100%;
    }
    nav {
        float: none;
        width: 100%;
        padding: 0 30%;
    }
    nav ul {
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
    }
    .main-content{
        box-sizing: border-box;
        margin: 2em auto;
        width: 90%;
    }
    .profile-pic {
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        height: auto;
    }
    .images {
        width: 90%;
    }

    .images img {
        width: 100%;
        height: auto;
    }
}